body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #010a25;
  font-family: "Roboto", sans-serif;
  font-family: "Spartan", sans-serif;
  color: #f7f2d7;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.wrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75%;
  border-radius: 50px;
  padding: 20px 10px;
  box-shadow: 0px 0px 10px 0px whitesmoke;
}

.display {
  margin: auto;
  width: 90%;
  font-size: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20%;
  background-color: #1e0836;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 whitesmoke;
  font-weight: bold;
  overflow: hidden;
}

#solution {
  margin-right: 7%;
}

.keypad {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  justify-content: space-between;
}

.row5 .button {
  justify-content: space-between;
  width: 41%;
}

.reset {
  background-color: #56077c !important;
  color: white;
}

.solve {
  background-color: #00decf !important;
  box-shadow: 0 4px #78f2ef !important;
  color: black !important;
}

.button {
  text-align: center;
  box-shadow: 0 4px #7d2196;
  padding: 10px;
  width: 15%;
  border-radius: 5px;
  background-color: #035043;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.button:active {
  transform: translateY(2px);
}

@media (max-width: 800px) {
  .wrapper {
    width: 90%;
    box-shadow: none;
  }
}
